@model PointCustomSystemDataMVC.Models.PostOffices

@{
    ViewBag.Title = "Details";
}

<h2>Tiedot</h2>

<div>
    <h4>Postitoimipaikat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostOffice)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Post_id }) |
    @Html.ActionLink("Takaisin postitietoihin", "Index")
</p>
