@model IEnumerable<PointCustomSystemDataMVC.Models.PostOffices>

@{
    ViewBag.Title = "Index";
}

@section head {
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables/datatables.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables/dataTables.bootstrap.css" rel="stylesheet" />

}
<title>PointCollege Ajanvarausohjelmisto</title>


<!-- !SIDEMENU CONTENT!
================================================== -->
@{ Html.RenderAction("SideMenu", "Customers");}

<!-- !PAGE CONTENT!
================================================== -->
<div class="w3-main" style="margin-left:252px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

<!-- !CONTAINER!
================================================== -->
    <div class="w3-container">
        <h2>Postiosoitetiedot</h2>

        <p>
            @Html.ActionLink("Luo uusi tieto", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostOffice)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostOffice)
                    </td>

                    <td>
                        @Html.ActionLink("Muokkaa", "Edit", new { id = item.Post_id }) |
                        @Html.ActionLink("Tiedot", "Details", new { id = item.Post_id }) |
                        @Html.ActionLink("Poista", "Delete", new { id = item.Post_id })
                    </td>
                </tr>
            }

        </table>
    </div><!-- End content -->
</div><!-- End page content -->