@model IEnumerable<PointCustomSystemDataMVC.Models.PostOffices>

@{
    ViewBag.Title = "Index";
}

<h2>Postiosoitetiedot</h2>

<p>
    @Html.ActionLink("Luo uusi tieto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostOffice)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostOffice)
        </td>
        
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.Post_id }) |
            @Html.ActionLink("Tiedot", "Details", new { id=item.Post_id }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.Post_id })
        </td>
    </tr>
}

</table>
