@model PointCustomSystemDataMVC.Models.User

@{
    ViewBag.Title = "Create";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>

<h2>Luo uusi käyttäjätieto</h2>
    
   @using (Html.BeginForm("Create", "Customers", FormMethod.Post))
   {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Käyttäjä</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @* Lisätty linkki käyttäjätunnisteen luontiin 2.2.2017 *@
            <div class="form-group">
                @Html.LabelFor(model => model.UserIdentity, "Linkki", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="col-md-offset-2 btn btn-default" style="width:280px; margin:0px; padding-left:12px">
                        <a href="/Customers/Create">Takaisin asiakastiedon luontiin</a>
                    </div>
                </div>
            </div>

            @* Lisätty linkki käyttäjätunnisteen luontiin 2.2.2017 *@
            <div class="form-group">
                @Html.LabelFor(model => model.UserIdentity, "Linkki", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="col-md-offset-2 btn btn-default" style="width:280px; margin:0px; padding-left:12px">
                        <a href="/Studentxes/Create">Takaisin hoitajatiedon luontiin</a>
                    </div>
                </div>
            </div>

            @* Lisätty linkki käyttäjätunnisteen luontiin 2.2.2017 *@
            <div class="form-group">
                @Html.LabelFor(model => model.UserIdentity, "Linkki", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="col-md-offset-2 btn btn-default" style="width:280px; margin:0px; padding-left:12px">
                        <a href="/Personnels/Create">Takaisin henkilökuntatiedon luontiin</a>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserIdentity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserIdentity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserIdentity, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
    
         
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Tallenna" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
@*//Lisätty scriptit*@



<script src="~/Scripts/respond.min.js"></script>
<script src="~/Scripts/_references.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
    
    <div>
        @Html.ActionLink("Takaisin käyttäjähallintaan", "Index")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}