@model IEnumerable<PointCustomSystemDataMVC.Models.User>

@{
    ViewBag.Title = "Index";
}

@section scripts {

    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        // oma filtteröintifunktio käyttäjätiedoille, jotka ovat aktiivisia
        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            // luetaan valintaruudun asetus
            var showArchive = $("#showArchiveUsersCheckbox").is(":checked");

            // luetaan 2. solun arvo: tämä on "Tila"
            var activeUser = settings.aoData[dataIndex].anCells[2].children[0].checked;

            /* Jos käyttäjä on valinnut asetuksen "Näytä aktiiviset", otetaan listalle
             * mukaan myös arkistoidut käyttäjätiedot. Muussa tapauksessa (oletusarvo) ei näytetä.
             * Tämän funktion paluuarvo kertoo, näytetäänkö rivi taulukossa vai ei. */
            if (showArchive) {
                // näytetään kaikki käyttäjätiedot, myös arkistoidut
                return true;
            }
            else {
                if (activeUser) {
                    // ei näytetä arkistoituja käyttäjätietoja
                    return true;
                }
                else {
                    return false;
                }
            }
        });

        $(function () {
            // sivun alustus
            //alert("Sivun alustus");
            var userTaulu = $("#userTable").DataTable();

            $("#showArchiveUsersCheckbox").change(function () {
                // kun käyttäjä napsauttaa valintaruutua, päivitetään asiakastaulukko
                userTaulu.draw();
            });
        });

        
    </script>

}
@section head {

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables/datatables.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables/dataTables.bootstrap.css" rel="stylesheet" />

}
<title>PointCollege Ajanvarausohjelmisto</title>

<!-- !SIDEMENU CONTENT!
================================================== -->
@{ Html.RenderAction("SideMenu", "Customers");}

<!-- !PAGE CONTENT!
================================================== -->
<div class="w3-main" style="margin-left:252px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Container -->
    <div class="w3-container">
        <h2>Käyttäjätieto hallinta</h2>
        <p>&nbsp;</p>
        <p style="padding-left:8px;font-size:12px">
            @Html.ActionLink("Takaisin asiakastiedon luontiin", "Create", "Customers")
        </p>

        <p style="padding-left:8px;font-size:12px">
            @Html.ActionLink("Takaisin hoitajatiedon luontiin", "Create", "Studentxes")
        </p>

        <p style="padding-left:8px;font-size:12px">
            @Html.ActionLink("Takaisin henkilökunnan luontiin", "Create", "Personnels")
        </p>

        <p style="padding-left:8px;font-size:12px">
            @Html.ActionLink("Luo uusi Käyttäjätieto", "Create")
        </p>

        <p>Näytä myös arkistoidut käyttäjätiedot: <input id="showArchiveUsersCheckbox" type="checkbox" /></p>
        <p>&nbsp;</p>
  

    <table class="table" id="userTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserIdentity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    @*@foreach (PointCustomSystemDataMVC.Models.User use in Model)*@
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserIdentity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @{
                                string True = "";
                                if (item.Active.HasValue && (item.Active.Value == true))
                                {
                                    True = "checked";
                                }
                            }
                            <input name="Active" type="checkbox" @True />
                            @Html.DisplayFor(modelItem => item.Active)
                        </td>

                        <td>
                            @Html.ActionLink("Muokkaa", "Edit", new { id = item.User_id }) |
                            @Html.ActionLink("Tiedot", "Details", new { id = item.User_id }) |
                            @Html.ActionLink("Poista", "Delete", new { id = item.User_id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- End content -->
</div><!-- End page content -->

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
