@model IEnumerable<PointCustomSystemDataMVC.Models.User>

@{
    ViewBag.Title = "Index";
}

<title>PointCollege Ajanvarausohjelmisto</title>

<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/respond.js"></script>

<h2>Käyttäjä</h2>

    <p style="padding-left:8px;font-size:12px">
    @Html.ActionLink("Takaisin asiakastiedon luontiin", "Create", "Customers")
    </p>

    <p style="padding-left:8px;font-size:12px">
    @Html.ActionLink("Takaisin hoitajatiedon luontiin", "Create", "Studentxes")
    </p>

    <p style="padding-left:8px;font-size:12px">
    @Html.ActionLink("Takaisin henkilökunnan luontiin", "Create", "Personnels")
    </p>

    <p style="padding-left:8px;font-size:12px">
        @Html.ActionLink("Luo uusi käyttäjä", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserIdentity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserIdentity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
           
            <td>
                @Html.ActionLink("Muokkaa", "Edit", new { id=item.User_id }) |
                @Html.ActionLink("Tiedot", "Details", new { id=item.User_id }) |
                @Html.ActionLink("Poista", "Delete", new { id=item.User_id })
            </td>
        </tr>
    }
    
    </table>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
