@model IEnumerable<PointCustomSystemDataMVC.Models.Phone>

@{
    ViewBag.Title = "Index";
}

<h2>Puhelin</h2>

<p>
    @Html.ActionLink("Luo uusi puhelintieto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNum_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNum_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNum_3)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FullNameA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullNameH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>   
        <th>
            @Html.DisplayNameFor(model => model.TreatmentOfficeName)
        </th>*@
    
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNum_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNum_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNum_3)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.FullNameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullNameH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentOfficeName)
        </td>*@
   
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.Phone_id }) |
            @Html.ActionLink("Tiedot", "Details", new { id=item.Phone_id }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.Phone_id })
        </td>
    </tr>
}

</table>
