@model PointCustomSystemDataMVC.ViewModels.ReservationViewModel

@{
    ViewBag.Title = "Delete";
}





    <title>Poista</title>

<body>
    <h3>Haluatko varmasti poistaa palveluvarauksen?</h3>
    <div>
        <h4>Palveluvaraus</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TreatmentName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TreatmentName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Start)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Start)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.End)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.End)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
     
            <dt>
                @Html.DisplayNameFor(model => model.FullNameA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FullNameA)
            </dd>
     
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNum_1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhoneNum_1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PostalCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TreatmentName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TreatmentName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TreatmentOfficeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TreatmentOfficeName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TreatmentPlaceName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TreatmentPlaceName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserIdentity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserIdentity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FullNameH)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FullNameH)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Poista" class="btn btn-default" /> |
                @Html.ActionLink("Takaisin varauskalenteriin", "Index")
            </div>
        }
    </div>
</body>

