@model PointCustomSystemDataMVC.ViewModels.ReservationViewModel

@{
    ViewBag.Title = "DownloadBill";
}


<div>

    <h2>Lasku</h2>
    <h4>Porcoo Point Collegen jalkahoitola</h4>


    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FirstNameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstNameA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastNameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastNameA)
        </dd>

    </dl>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TreatmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentPaidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentPaidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

    </dl>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FullNameH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullNameH)
        </dd>

    </dl>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentOfficeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentOfficeName)
        </dd>
    </dl>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentReportTexts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentReportTexts)
        </dd>

    </dl>
</div>

<hr />
<br ><br>
<div class="w3-col s4 w3-justify">
    <h4>Point College jalkahoitola</h4>
    <p><i class="fa fa-fw fa-map-marker"></i> Porvoo International College</p>
    <p><i class="fa fa-fw fa-phone"></i> (019) 529 9200</p>
    <p><i class=""></i> Mannerheiminkatu 20</p>
    <p><i class=""></i> 01600 Porvoo</p>
    <p><i class="fa fa-fw fa-envelope"></i> info@pointcollege.fi</p>
    <h4>Maksaminen</h4>
    
    <p><i class="fa fa-fw fa-credit-card"></i> Pankkikortti</p>
    <br>

</div>
