@model PointCustomSystemDataMVC.ViewModels.ReservationDetailViewModel

@{
    ViewBag.Title = "ReservationCompleted";
}


<script src="~/Scripts/DayPilot/daypilot-all.min.js"></script>
<script src="~/Scripts/DayPilot/daypilot-calendar.src.js"></script>
<script src="~/Scripts/daypilot-all.min.js"></script>

<h2>Palvelun kuittaus</h2>

<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Reservation</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Reservation_id)


            <div class="form-group">
                @Html.LabelFor(model => model.TreatmentCompleted, "Palvelusuoritus", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.TreatmentCompleted)
                        @Html.ValidationMessageFor(model => model.TreatmentCompleted, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Tallenna" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Takaisin Palveluvaraukseen", "Index")
    </div>
</body>
