@model PointCustomSystemDataMVC.ViewModels.ReservationDetailViewModel

@{
    ViewBag.Title = "TreatPayment";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/Scripts/DayPilot/daypilot-all.min.js"></script>
<script src="~/2.7/JavaScript/daypilot-modal-2.7.js"></script>
<script src="~/Scripts/daypilot-all.min.js"></script>

<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/respond.js"></script>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<h2>Palvelumaksun suoritus</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Palvelumaksun suoritus</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Reservation_id)

        @*//Maksun kuittauksen päivämäärä tallentuu suoraan tietokantaan*@
        <div class="form-group">
            @Html.LabelFor(model => model.TreatmentPaid, "Palvelumaksu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TreatmentPaid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TreatmentPaid, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.TreatmentPaidDate, "Maksu pvm", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TreatmentPaidDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TreatmentPaidDate, "", new { @class = "text-danger" })
        </div>
    </div>*@
  

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tallenna" class="btn btn-default" />
            </div>
        </div>

}

<div>
    @Html.ActionLink("Takaisin palveluvaraukseen", "Index")
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        
     @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }



     
