@model PointCustomSystemDataMVC.Models.TreatmentPlace

@{
    ViewBag.Title = "Details";
}

<h2>Tiedot</h2>

<div>
    <h4>Hoitopaikka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TreatmentPlaceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentPlaceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentPlaceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentPlaceNumber)
        </dd>

    </dl>

</div>

<p>

    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Treatmentplace_id }) |

    @Html.ActionLink("Takaisin hoitopaikkahallintaan", "Index")

</p>