@model IEnumerable<PointCustomSystemDataMVC.Models.TreatmentPlace>

@{
    ViewBag.Title = "Index";
}


<h2>Hoitopaikkahallinta</h2>

<p>
    @Html.ActionLink("Luo uusi hoitopaikkatieto", "Create")
</p>

<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentPlaceName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TreatmentPlaceNumber)
            </th>

            <th></th>
        </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TreatmentPlaceName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TreatmentPlaceNumber)
            </td>           
            

            <td>
                @Html.ActionLink("Muokkaa", "Edit", new { id = item.Treatmentplace_id }) |
                @Html.ActionLink("Tiedot", "Details", new { id = item.Treatmentplace_id }) |
                @Html.ActionLink("Poista", "Delete", new { id = item.Treatmentplace_id })
            </td>
        </tr>
    }

</table>