@model PointCustomSystemDataMVC.ViewModels.ReservationDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Asiakastiedot</h2>

<p>
    @Html.ActionLink("Tee uusi varaus", "Create", "Reservations")
</p>

<p><a href="/Reservations/Create" class="w3-btn w3-small">Uusi palveluvaraus</a></p>

@*<input type="button" onclick="location.href = '/Customers/DownloadViewPDF';" value="Luo pdf" />*@

<div><a href="@Url.Action("DownloadViewPDF", "Customers", new { id = Model.Customer_id })">Asiakasraportti</a></div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserIdentity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserIdentity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstNameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstNameA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastNameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastNameA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNum_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNum_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dd>
            <hr />
           <p>
               @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Customer_id }) |
               @Html.ActionLink("Takaisin asiakastietoihin", "Index") |
               @*//Linkki asiakastietojen tallennukseen:*@
               @Html.ActionLink("Asiakastietojen tallennus", "Index")
           </p>
             
           <hr />
            @*1.2.2017 Lisätty alitiedostot Palvelut*@
            <h4>Asiakkaan palvelutiedot</h4>

                        <table class="table">
                            <tr>
                                <th>Päivämäärä</th>
                                <th>Varausaika alkaa</th>
                                <th>Varausaika loppuu</th>
                                <th>Palvelun nimi</th>
                                <th>Palvelun kesto</th>
                                <th>Palvelu suoritettu</th>
                                <th>Palvelun hinta</th>
                                <th>Palvelu maksettu pvm</th>
                                <th>Hoitaja</th>
                                <th>Tiedot</th>
                                <th>Hoitoraportti</th>
                            </tr>

        @*foreach (var c in Model) {
           foreach (var res in
              c.CustomerReseration) {
          }
        }*@

            @foreach (var item in Model.Customreservations)

                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Start)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.End)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TreatmentName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TreatmentTime)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TreatmentCompleted)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TreatmentPrice)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TreatmentPaidDate)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullNameH)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Notes)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TreatmentReportTexts)
                                    </td>
                                </tr>
                            }

                        </table>
                   </dd>
            </dl>
</div>



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

}