@model PointCustomSystemDataMVC.Models.Customer
@{
    ViewBag.Title = "Details";
}



<h2>Asiakastiedot</h2>

<p>
    @Html.ActionLink("Tee uusi varaus", "Create", "Reservations")
</p>

<div>

    <h4>Asiakas</h4>

    <hr />

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.User.UserIdentity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserIdentity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone.PhoneNum_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone.PhoneNum_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostOffices.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostOffices.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostOffices.PostOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostOffices.PostOffice)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Personnel.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Personnel.FirstName)
            </dd>*@

        @*<dt>
               @Html.DisplayNameFor(model => model.Reservation.TreatmentName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reservation.TreatmentName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Treatment.TreatmentName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Treatment.TreatmentName)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.TreatmentOffice.TreatmentOfficeName)
            </dt>

            <dd>
               @Html.DisplayFor(model => model.TreatmentOffice.TreatmentOfficeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TreatmentPlace.TreatmentPlaceName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TreatmentPlace.TreatmentPlaceName)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.Studentx.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Studentx.FirstName)
            </dd>*@
    </dl>

    <p>
        @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Customer_id }) |
        @Html.ActionLink("Takaisin asiakastietoihin", "Index")
    </p>


    <h4>Asiakkaan hoitotiedot</h4>

    @*1.2.2017 Lisätty alitiedostot Palvelut*@

    <table class="table">
        <tr>
            <th>
                Päivämäärä
            </th>
            <th>
                Varausaika alkaa
            </th>
            <th>
                Varausaika loppuu
            </th>
            <th>
                Palvelun nimi
            </th>
            <th>
                Palvelun kesto
            </th>
            <th>
                Hoitaja
            </th>
            <th>
                Huomiot
            </th>
        </tr>

        @foreach (var item in Model.Reservation1)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Treatment.TreatmentName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Treatment.TreatmentTime)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Studentx.FirstName + item.LastName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Customer1.Notes)
                </td>

                @*//Linkki asiakastietojen tallennukseen:*@

                @Html.ActionLink("Asiakastietojen tallennus", "Index")

            </tr>
        }

    </table>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}