@model PointCustomSystemDataMVC.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Asiakastiedot</h2>

<p>
    @Html.ActionLink("Tee uusi varaus", "Create", "Reservations")
</p>

<div>
        <h4>Asiakas</h4>
  
    <hr />

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.UserIdentity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserIdentity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNum_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNum_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostOffice)
        </dd>
   
    </dl>

    <p>
        @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Customer_id }) |
        @Html.ActionLink("Takaisin asiakastietoihin", "Index")
    </p>

    <hr />

    <h4>Asiakkaan hoitotiedot</h4>

    @*1.2.2017 Lisätty alitiedostot Palvelut*@

    <table class="table">
        <tr>
            <th>
                Päivämäärä
            </th>
            <th>
                Varausaika alkaa
            </th>
            <th>
                Varausaika loppuu
            </th>
            <th>
                Palvelun nimi
            </th>
            <th>
                Palvelun kesto
            </th>
            <th>
                Hoitaja
            </th>
            <th>
                Huomiot
            </th>
        </tr>

        @foreach (var item in Model.Reservations)

            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentTime)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FullNameH)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>

                @*//Linkki asiakastietojen tallennukseen:*@
                @Html.ActionLink("Asiakastietojen tallennus", "Index")

            </tr>
        }

    </table>
</div>

@section Scripts {

@Scripts.Render("~/bundles/jqueryval")

}