@model IEnumerable<PointCustomSystemDataMVC.ViewModels.ReservationDetailViewModel>

@{
    ViewBag.Title = "DownLoadCustomerPDF";
}

<h2>Asiakasraportti listaus</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstNameA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastNameA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Information)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstNameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastNameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModifiedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Information)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Customer_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Customer_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Customer_id })
        </td>
    </tr>
}

</table>
