@model IEnumerable<PointCustomSystemDataMVC.ViewModels.CustomerViewModel>

@{
    ViewBag.Title = "DownLoadCustomerPDF";
}

<h2>Asiakasraportti listaus</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserIdentity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstNameA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastNameA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNum_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostOffice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Permission)
        </th>
    
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserIdentity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstNameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastNameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNum_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostOffice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Permission)
        </td>

    </tr>
}

</table>
