@model IEnumerable<PointCustomSystemDataMVC.Models.Customer>

@{
    ViewBag.Title = "Index";
}
<title>PointCollege Ajanvarausohjelmisto</title>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/Scripts/DayPilot/daypilot-all.min.js"></script>
<script src="~/2.7/JavaScript/daypilot-modal-2.7.js"></script>
<script src="~/Scripts/daypilot-all.min.js"></script>

<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/respond.js"></script>

<h2>Asiakas</h2>

<p style="padding-left:8px;font-size:12px">
    @Html.ActionLink("Luo uusi asiakas", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserIdentity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identity)
        </th>  
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone.PhoneNum_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.PostOffices.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostOffices.PostOffice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Personnel.FirstName)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Reservation.TreatmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Treatment.TreatmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentOffice.TreatmentOfficeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentPlace.TreatmentPlaceName)*@
        @*</th>*@
    
        @*<th>
            @Html.DisplayNameFor(model => model.Studentx.FirstName)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserIdentity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identity)
        </td>    
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone.PhoneNum_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>  
        <td>
            @Html.DisplayFor(modelItem => item.PostOffices.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostOffices.PostOffice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Personnel.FirstName)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Reservation.TreatmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Treatment.TreatmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentOffice.TreatmentOfficeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentPlace.TreatmentPlaceName)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Studentx.FirstName)
        </td>*@
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.Customer_id }) |
            @Html.ActionLink("Tiedot", "Details", new { id=item.Customer_id }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.Customer_id })
        </td>
    </tr>
}

</table>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>