@model IEnumerable<PointCustomSystemDataMVC.ViewModels.CustomerViewModel>

@{
    ViewBag.Title = "Index";
}

@section scripts {

<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>

<script type="text/javascript">
    // oma filtteröintifunktio asiakkaille, jotka ovat aktiivisia
    $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
        // luetaan valintaruudun asetus
        var showArchive = $("#showArchiveCustomersCheckbox").is(":checked");

        // luetaan 11. solun arvo: tämä on "Tila"
        var activeCustomer = settings.aoData[dataIndex].anCells[10].children[0].checked;

        /* Jos käyttäjä on valinnut asetuksen "Näytä aktiiviset", otetaan listalle
         * mukaan myös arkistoidut asiakkaat. Muussa tapauksessa (oletusarvo) ei näytetä.
         * Tämän funktion paluuarvo kertoo, näytetäänkö rivi taulukossa vai ei. */
        if (showArchive) {
            // näytetään kaikki asiakkaat, myös arkistoidut
            return true;
        }
        else {
            if (activeCustomer) {
                // ei näytetä arkistoituja asiakkaita
                return true;
            }
            else {
                return false;
            }
        }
    });

    $(function () {
        // sivun alustus
        //alert("Sivun alustus");
        var customerTaulu = $("#customerTable").DataTable();

        $("#showArchiveCustomersCheckbox").change(function () {
            // kun käyttäjä napsauttaa valintaruutua, päivitetään asiakastaulukko
            customerTaulu.draw();
        });
    });

    // oma filtteröintifunktio asiakkaillelupatiedoille
    $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
        // luetaan valintaruudun asetus
        var showPermission = $("#showCustomersPermissionCheckbox").is(":checked");

        // luetaan 12. solun arvo: tämä on "Lupatieto"
        var customerPermission = settings.aoData[dataIndex].anCells[11].children[0].checked;

        /* Jos käyttäjä on valinnut asetuksen "Näytä ei lupatietoa antaneet", otetaan listalle
         * mukaan myös arkistoidut asiakkaat. Muussa tapauksessa (oletusarvo) ei näytetä.
         * Tämän funktion paluuarvo kertoo, näytetäänkö rivi taulukossa vai ei. */
        if (showPermission) {
            // näytetään kaikki asiakkaat, myös ei luvan antaneet
            return false;
        }
        else {
            if (customerPermission) {
                // näytetään luvan antaneet asiakkaat
                return true;
            }
            else {
                return true;
            }
        }
    });

    $(function () {
        // sivun alustus
        //alert("Sivun alustus");
        var customerTaulu = $("#customerTable").DataTable();

        $("#showCustomersPermissionCheckbox").change(function () {
            // kun käyttäjä napsauttaa valintaruutua, päivitetään asiakastaulukko
            customerTaulu.draw();
        });
    });
</script>

}

@section head {

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Scripts/DataTables/dataTables.bootstrap.css" rel="stylesheet" />


    <style>

        div.dataTables_wrapper div.dataTables_filter input{
            width:400px;
        }
    </style>
}
<title>PointCollege Ajanvarausohjelmisto</title>

    <!-- !SIDEMENU CONTENT!
================================================== -->
@{ Html.RenderAction("SideMenu", "Customers");}

 <!-- !PAGE CONTENT!
================================================== -->
<div class="w3-main" style="margin-left:250px">

    <!-- Push down content on small screens -->
<div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Container -->
 <div class="w3-container">

        <h2>Asiakas</h2>
        <p>&nbsp;</p>
        <p>Asiakkaita yhteensä: @Model.Count()</p>

        <p><a href="/Customers/Create" class="w3-btn w3-large">Uusi asiakas</a></p>
        
        <div><a href="@Url.Action("DownLoadCustomerPDF", "Customers", new { @class = "w3-btn w3-small w3-grey" })">Asiakasraportti</a></div>

        <input type="button" onclick="location.href = '/Customers/DownLoadCustomerPDF';" value="Asiakasraportti" />

        @*<div><i class="fa fa-search"></i><input class="w3-input w3-border w3-padding" type="text" placeholder="Etsi asiakastieto..." id="myInput" onkeyup="searchByCustomer()"></div>*@
     
        <p>&nbsp;</p>
        <p>&nbsp;</p>

     <p>Näytä myös arkistoidut asiakkaat: <input id="showArchiveCustomersCheckbox" type="checkbox" /></p>
     <p>Näytä ei lupatietoa antaneet: <input id="showCustomersPermissionCheckbox" type="checkbox" /></p>
        
    <table class="table" id="customerTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserIdentity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstNameA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastNameA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Identity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNum_1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostalCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostOffice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Notes)
                    </th>
                    <th>                       
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Permission)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserIdentity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstNameA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastNameA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Identity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNum_1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostalCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostOffice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            @{
                                string True = "";
                                if (item.Active.HasValue && (item.Active.Value == true))
                                {
                                    True = "checked";
                                }
                            }
                            <input name="Active" type="checkbox" @True />
                            @*@Html.DisplayFor(modelItem => item.Active)*@                        
                        </td>

                        <td>
                            @{
                                string PermissionOk = "";
                                if (item.Permission.HasValue && (item.Permission.Value == true))
                                {
                                    PermissionOk = "checked";
                                }
                            }
                            <input name="Active" type="checkbox" @PermissionOk />
                            @*@Html.DisplayFor(modelItem => item.Permission)*@
                        </td>

                        <td>
                            @Html.ActionLink("Muokkaa", "Edit", new { id = item.Customer_id }) |
                            @*@Html.ActionLink("Tiedot", "Details", new { id = item.Customer_id }) |*@
                            @Html.ActionLink("Poista", "Delete", new { id = item.Customer_id }) |
                            @Html.ActionLink(item.FirstNameA + " " + item.LastNameA, "Details", new {id = item.Customer_id }, new { @class = "w3-btn btn-success w3-grey w3-small" })
                            <br><br>
                            @Html.ActionLink("Palveluvaraus", "Create", "Reservations", new { Customer_id = item.Customer_id }, new { @class = "w3-btn btn-success w3-grey w3-small" })
                            <br><br>                      
                            @Html.ActionLink("Lupatieto", "CustomerPermission", new { id = item.Customer_id }, new { @class = "w3-btn btn-success w3-grey w3-small" })
                            <br><br>
                            @Html.ActionLink("Arkistointi", "Archive", new { id = item.Customer_id }, new { @class = "w3-btn btn-success w3-grey w3-small" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- End content -->
</div><!-- End page content -->


   
 
