@model PointCustomSystemDataMVC.ViewModels.StudentViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Poista</h2>

<h3>Haluatko varmasti poistaa tiedot?</h3>

<div>
    <h4>Hoitaja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDateIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDateIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDateOUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDateOUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDateOFF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDateOFF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNum_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNum_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserIdentity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserIdentity)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin hoitajatietoihin", "Index")
        </div>
    }
</div>