@model PointCustomSystemDataMVC.ViewModels.ReservationDetailViewModel

@{
    ViewBag.Title = "Details";
}
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/Scripts/DayPilot/daypilot-all.min.js"></script>
<script src="~/Scripts/daypilot-all.min.js"></script>
<script src="~/Scripts/DayPilot/daypilot-calendar.src.js"></script>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/respond.js"></script>

<h2>Hoitajatiedot</h2>


@*<input type="button" onclick="location.href = '/Studentxes/DownloadViewPDF';" value="Luo pdf" />*@

<div><a href="@Url.Action("DownloadViewPDF", "Studentxes", new { id = Model.Student_id })">Hoitajatietoraportti</a></div>

<div>
    <h4>Hoitaja</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.UserIdentity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserIdentity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstNameH)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstNameH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastNameH)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastNameH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Identity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Identity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNum_1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNum_1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostOffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostOffice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDateIN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrollmentDateIN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDateOUT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrollmentDateOUT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDateOFF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrollmentDateOFF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifiedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentGroupName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentGroupName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Information)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Information)
        </dd>

        <dd>
            <hr />
            <p>
                @Html.ActionLink("Muokkaa hoitajatietoja", "Edit", new { id = Model.Student_id }) |
                @Html.ActionLink("Takaisin hoitajatietoihin", "Index")
            </p>

            <hr />
            @*1.2.2017 Lisätty hoitajan palvelutiedot*@
            <h4>Hoitajan palvelutiedot</h4>

            <table class="table">
                <tr>
                    <th>Päivämäärä</th>
                    <th>Palveluaika alkaa</th>
                    <th>Palveluaika loppuu</th>
                    <th>Palvelun nimi</th>
                    <th>Palvelun kesto</th>
                    <th>Asiakas</th>
                    <th>Tiedot</th>
                </tr>


                @foreach (var item in Model.Studentreservations)

              {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Start)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.End)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.TreatmentName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.TreatmentTime)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.FullNameA)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                    </tr>
                }

            </table>
        </dd>
    </dl>
</div>
