@model PointCustomSystemDataMVC.Models.Studentx



@{

    ViewBag.Title = "Edit";

}



<h2>Muokkaa</h2>





@using (Html.BeginForm())

{

    @Html.AntiForgeryToken()



    <div class="form-horizontal">

        <h4>Hoitaja</h4>

        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Student_id)



        <div class="form-group">

            @Html.LabelFor(model => model.User_id, "Käyttäjätieto", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">

                @Html.DropDownList("User_id", null, htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.User_id, "", new { @class = "text-danger" })

            </div>

        </div>



        <div class="form-group">

            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

            </div>

        </div>



        <div class="form-group">

            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

            </div>

        </div>



        <div class="form-group">

            @Html.LabelFor(model => model.Identity, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => model.Identity, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Identity, "", new { @class = "text-danger" })

            </div>

        </div>





        <div class="form-group">

            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            </div>

        </div>



        <div class="form-group">

            @Html.LabelFor(model => model.Address, "Katuosoite", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

            </div>

        </div>



        <div class="form-group">

            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })

            </div>

        </div>





        <div class="form-group">

            @Html.LabelFor(model => model.EnrollmentDateIN, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => model.EnrollmentDateIN, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.EnrollmentDateIN, "", new { @class = "text-danger" })

            </div>

        </div>



        <div class="form-group">

            @Html.LabelFor(model => model.EnrollmentDateOUT, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => model.EnrollmentDateOUT, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.EnrollmentDateOUT, "", new { @class = "text-danger" })

            </div>

        </div>



        @*<div class="form-group">

                @Html.LabelFor(model => model.Phone_id, "Phone_id", htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">

                    @Html.DropDownList("Phone_id", null, htmlAttributes: new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Phone_id, "", new { @class = "text-danger" })

                </div>

            </div>



            <div class="form-group">

                @Html.LabelFor(model => model.Post_id, "Post_id", htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">

                    @Html.DropDownList("Post_id", null, htmlAttributes: new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Post_id, "", new { @class = "text-danger" })

                </div>

            </div>*@







        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">

                <input type="submit" value="Tallenna" class="btn btn-default" />

            </div>

        </div>

    </div>

}



<div>

    @Html.ActionLink("Takaisin hoitajatietoihin", "Index")

</div>



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

}