@model PointCustomSystemDataMVC.Models.Treatment

@{
    ViewBag.Title = "Delete";
}



<body>
    <h3>Haluatko varmasti poistaa ?</h3>
    <div>
        <h4>Palvelutieto</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TreatmentName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TreatmentName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TreatmentTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TreatmentTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TreatmentPrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TreatmentPrice)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Poista" class="btn btn-default" /> |
                @Html.ActionLink("Takaisin palveluhallintaan", "Index")
            </div>
        }
    </div>
</body>

