@model PointCustomSystemDataMVC.Models.Treatment

@{
    ViewBag.Title = "Details";

}


<body>
    <div>
        <h4>Palvelutiedot</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TreatmentName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TreatmentName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TreatmentTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TreatmentTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TreatmentPrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TreatmentPrice)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Treatment_id }) |
        @Html.ActionLink("Takaisin palveluhallintaan", "Index")
    </p>
</body>

