@model IEnumerable<PointCustomSystemDataMVC.Models.Treatment>

@{
    ViewBag.Title = "Index";
}


<h2>Palvelutiedot</h2>

<body>
    <p>
        @Html.ActionLink("Uusi palvelutieto", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentPrice)
            </th>
       
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TreatmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreatmentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreatmentPrice)
            </td>    
     
      
            <td>
                @Html.ActionLink("Muokkaa", "Edit", new { id=item.Treatment_id }) |
                @Html.ActionLink("Tiedot", "Details", new { id=item.Treatment_id }) |
                @Html.ActionLink("Poista", "Delete", new { id=item.Treatment_id })
            </td>
        </tr>
    }
    
    </table>
</body>

