@model IEnumerable<PointCustomSystemDataMVC.Models.Treatment>

@{
    ViewBag.Title = "Index";
}

@section head {
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables/datatables.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables/dataTables.bootstrap.css" rel="stylesheet" />

}
<title>PointCollege Ajanvarausohjelmisto</title>

<!-- !SIDEMENU CONTENT!
================================================== -->
@{ Html.RenderAction("SideMenu", "Customers");}

<!-- !PAGE CONTENT!
================================================== -->
<div class="w3-main" style="margin-left:252px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

<!-- !CONTAINER!
================================================== -->
    <div class="w3-container">

        <h2>Palvelutiedot</h2>
    
            <p>
                @Html.ActionLink("Uusi palvelutieto", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TreatmentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TreatmentTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TreatmentPrice)
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TreatmentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TreatmentTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TreatmentPrice)
                        </td>

                        <td>
                            @Html.ActionLink("Muokkaa", "Edit", new { id = item.Treatment_id }) |
                            @Html.ActionLink("Tiedot", "Details", new { id = item.Treatment_id }) |
                            @Html.ActionLink("Poista", "Delete", new { id = item.Treatment_id })
                        </td>
                    </tr>
                }

            </table>
      
    </div><!-- End content -->
</div><!-- End page content -->
