@model PointCustomSystemDataMVC.ViewModels.TreatmentOfficeViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Poista toimipistetiedot</h2>

<h3>Haluatko varmasti poistaa tiedot?</h3>
<div>
    <h4>Toimipistehallinta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TreatmentOfficeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentOfficeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNum_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNum_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MapPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MapPlace)
        </dd>
  

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin toimipistehallintaan", "Index")
        </div>
    }
</div>
