@model IEnumerable<PointCustomSystemDataMVC.Models.TreatmentOffice>

@{
    ViewBag.Title = "Index";
}

<h2>Toimipiste</h2>

<p>
    @Html.ActionLink("Lisää uusi toimipiste", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentOfficeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone1.PhoneNum_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostOffices1.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostOffices1.PostOffice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Customer1.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personnel1.FirstName)
            </th>*@


        @*<th>
                @Html.DisplayNameFor(model => model.Reservation1.TreatmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studentx1.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatment1.TreatmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentPlace.TreatmentPlaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserIdentity)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TreatmentOfficeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone1.PhoneNum_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostOffices1.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostOffices1.PostOffice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Customer1.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Personnel1.FirstName)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.Reservation1.TreatmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Studentx1.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Treatment1.TreatmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentPlace.TreatmentPlaceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserIdentity)
                </td>*@
            <td>
                @Html.ActionLink("Muokkaa", "Edit", new { id = item.TreatmentOffice_id }) |
                @Html.ActionLink("Tiedot", "Details", new { id = item.TreatmentOffice_id }) |
                @Html.ActionLink("Poista", "Delete", new { id = item.TreatmentOffice_id })
            </td>
        </tr>
    }

</table>