@model IEnumerable<PointCustomSystemDataMVC.ViewModels.TreatmentOfficeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Toimipistehallinta</h2>

<p>
    @Html.ActionLink("Lisää uusi toimipiste", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentOfficeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNum_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostOffice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TreatmentOfficeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNum_1)
            </td>    
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostOffice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
           
            <td>
                @Html.ActionLink("Muokkaa", "Edit", new { id = item.TreatmentOffice_id }) |
                @Html.ActionLink("Tiedot", "Details", new { id = item.TreatmentOffice_id }) |
                @Html.ActionLink("Poista", "Delete", new { id = item.TreatmentOffice_id })
            </td>
        </tr>
    }

</table>