@model PointCustomSystemDataMVC.ViewModels.TreatmentReportsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Asiakkaan hoitotiedot</h2>

<div>
    <h4>Hoitoraportti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserIdentity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserIdentity)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.TreatmentReportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentReportName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.FullNameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullNameA)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        <dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentReportText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentReportText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullNameH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullNameH)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.Reservation.TreatmentName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reservation.TreatmentName)
            </dd>*@

    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TreatmentReport_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <hr />

    <h4>Asiakkaan hoitokertomukset</h4>

    @*1.2.2017 Lisätty alitiedostot TreatmentReservations*@

    <table class="table">
        <tr>
            <th>
                Päivämäärä
            </th>
            <th>
                Hoitoaika
            </th>
            <th>
                Hoitoraportin nimi
            </th>
            <th>
                HoitajaEtunimi
            </th>
            <th>
                HoitajaSukunimi
            </th>
            <th>
                Hoitoraportti
            </th>
          
        </tr>

        @foreach (var item in Model.TreatmentReservations)

            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentReportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentReportText)
                </td>
              

    @*//Linkki asiakkaiden hoitotieto raportteihin:*@
    @Html.ActionLink("Asiakas hoitoraportit", "Index")

    </tr>
            }

        </table>

</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

}