@model IEnumerable<PointCustomSystemDataMVC.Models.TreatmentReport>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentReportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentReportText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personnel.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Studentx.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserIdentity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation1.TreatmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer1.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentReportName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentReportText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Personnel.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Studentx.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserIdentity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reservation1.TreatmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer1.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TreatmentReport_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.TreatmentReport_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TreatmentReport_id })
        </td>
    </tr>
}

</table>
